<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">GAODP Orders</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="has-form">
          <form action="/search.html" class="search-form">
            <div class="row collapse">
              <div class="large-8 small-9 columns">
                <input type="text" name="q">
              </div>
              <div class="large-4 small-3 columns">
                <button id="submit-search" type="submit" class="button expand">Search</button>
              </div>
            </div>
          </form>
        </li>
      </ul>

      <ul class="left">
        <li><a href="/">Home</a></li>
        <li><a href="/orders/2015">2015 Orders</a></li>
        <li><a href="http://github.com/gaodp/executive-orders">Contribute</a></li>
      </ul>
    </section>
  </nav>
</div>
