<!DOCTYPE html>
<html>
  <head>
    <title>Georgia Executive Orders Archive</title>

    <meta name="description" content="A text formatted, searchable archive of Georgia Executive Orders">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/foundation/css/normalize.css">
    <link rel="stylesheet" href="/foundation/css/foundation.css">
    <link rel="stylesheet" href="/css/executive-orders.css">
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Georgia Executive Order Archive</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li><a href="/">Home</a></li>
          <li><a href="/orders/2015">2015</a></li>
          <li><a href="/search.html">Search</a></li>
        </ul>
      </section>
    </nav>

    <div class="row">
      <div class="small-12">
        {{ content }}
      </div>
    </div>

    <script src="/foundation/js/foundation.min.js" type="text/javascript"></script>
  </body>
</html>
